@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: #7c3aed;
  }
}

.toggle-dark {
  position: fixed;
  display: flex;
  top: 1rem;
  right: 1rem;
  z-index: 99999;
}
.toggle-dark span:first-child {
  padding-right: 1rem;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.test-tag {
  text-transform: lowercase;
  display: inline-block;
  border-radius: 10px;
  padding: 2px 10px;
  height: max-content;
  transform: translate(0, 6px);
}

.success {
  background: #43aa8b;
  color: white;
}

.success-text {
  color: #43aa8b;
}

.not-started {
  background: #577590;
  color: white;
}

.error {
  background: #f94144;
  color: white;
}

.pending {
  background-color: #f9c74f;
  color: black;
}

.test-block {
  display: flex;
  margin-top: 20px;
}

.test-instructions {
  margin-left: 20px;
}

.test-result {
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  width: 100%;
  margin-top: 20px;
}

.tag-column {
  min-width: 100px;
  text-align: right;
}
