name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12, 14, lts/*]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-v${{ matrix.node }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install
      - name: Lerna bootstrap
        run: yarn lerna bootstrap

      - name: Build
        run: yarn lerna run build

      - name: Lint
        run: yarn lint

      - name: Test
        id: tests
        run: yarn test

      - name: Coverage report upload
        if: matrix.node == 'lts/*'
        uses: codecov/codecov-action@v2
        with:
          files: ./packages/use-contractkit/coverage/clover.xml,./packages/walletconnect-v1/coverage/clover.xml
          fail_ci_if_error: true
          verbose: true

      # Uncomment the block blow (and the dry-run flag) when
      # we are decided to use git tags to publish new versions
      #
      # - name: NPM Publish
      #   if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
      #   uses: JS-DevTools/npm-publish@v1
      #   with:
      #     token: TODO:${{ secrets.NPM_TOKEN }}
      #     check-version: true
      #     dry-run: true
